<div class="section-outer-container">
  <div class="section-container">
    <mat-icon>keyboard_backspace</mat-icon>
    <mat-icon class="title-icon">access_alarms</mat-icon>
    <h1 class="title">Periodos</h1>
  </div>

  <img
    style="width: 30%; border-radius: 2rem; height: 6rem"
    src="../../assets/img/period.png"
  />
</div>


   
   
   
   
   
   <div style="    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;">
   <div style="  padding:2rem; border-radius:18px; background-color: white;  display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 2rem;">
    <h1 style="margin:0">Agregar Periodo</h1>
    <mat-form-field>
      <mat-label>Fecha de inicio</mat-label>
      <input readonly matInput [matDatepicker]="sinceDatePicker" [(ngModel)]="sinceDate">
      <mat-hint>Día/Mes/Año</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="sinceDatePicker" ></mat-datepicker-toggle>
      <mat-datepicker #sinceDatePicker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Fecha de Cierre</mat-label>
      <input readonly matInput [matDatepicker]="toDatepicker" [(ngModel)]="toDate">
      <mat-hint>Día/Mes/Año</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #toDatepicker></mat-datepicker>
    </mat-form-field>
    <button class="export" (click)="AddPeriod()">Añadir</button>

  </div>
  <div style="text-align: center;">
    <label *ngIf="onPeriod['exist_period']">Periodo Escolar Actual <h3>{{onPeriod['current_period']}}</h3> </label>
  </div>
  <div style="background-color: white; border: 4px double red; padding:1rem;border-radius: 18px;">
     <label style="color:red">No puede agregar Otro hasta el cierre de año </label>
  </div>

</div>