
<div style="display:flex;align-items: center;">
  <section style="background: linear-gradient(45deg, #2518e7c4, #7d67cf61);height: 100vh;padding:1rem;width: -webkit-fill-available;max-width: 40%;color:white;">
    
    <h3 class="go-back" (click)="goToLogin()" *ngIf="!checkDisable()"><mat-icon>keyboard_arrow_left</mat-icon>Atras</h3>
    <h3 class="go-back" (click)="goToDashboard()" *ngIf="checkDisable()"><mat-icon>keyboard_arrow_left</mat-icon>Atras</h3>

    <h4 style="margin: 0;position: relative;top: 92%;">Unidad Educativa "Jose Francisco Bermúdez"</h4>


    <div style="position: relative;top: 30%;display: flex;flex-direction: column;align-content: flex-start;left: 2rem;" *ngIf="checkDisable()">
      <h2 style="margin-bottom: 1.2rem;font-size: 3rem;">Periodo Actual</h2>
      <h1 style="margin-bottom: 2rem;font-size: 5rem;">{{onPeriod['current_period']}}</h1>
      <h1>Periodo Anterior: {{onPeriod['last_period']}}</h1>
    </div>


    <div style="position: relative;top: 30%;display: flex;flex-direction: column;align-content: flex-start;left: 4rem;" *ngIf="!checkDisable()">
      <h2 style="margin-bottom: 1.2rem;font-size: 3rem;">Nuevo</h2>
      <h1 style="margin-bottom: 2rem;font-size: 5rem;">PERIODO</h1>
      <h1>Periodo Anterior: {{onPeriod['last_period']}}</h1>
    </div>
  </section>


  <section style="width: -webkit-fill-available;height: 100vh;display: flex;flex-direction: column;justify-content: center;align-items: center;" *ngIf="isAdmin()">
   <div style="    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;">
   <div style="  padding:2rem; border-radius:18px; background-color: white;  display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 2rem;">
    <h1 style="margin:0;text-decoration: underline;">Agregar Periodo</h1>
    <mat-form-field>
      <mat-label>Fecha de inicio</mat-label>
      <input readonly matInput [matDatepicker]="sinceDatePicker" [(ngModel)]="sinceDate" [disabled]="checkDisable()">
      <mat-hint>Día/Mes/Año</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="sinceDatePicker" ></mat-datepicker-toggle>
      <mat-datepicker #sinceDatePicker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Fecha de Cierre</mat-label>
      <input readonly matInput [matDatepicker]="toDatepicker" [(ngModel)]="toDate" [disabled]="checkDisable()">
      <mat-hint>Día/Mes/Año</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #toDatepicker></mat-datepicker>
    </mat-form-field>
    <button class="export" (click)="AddPeriod()" [disabled]="checkDisable()" style="width: 100%;display: flex;justify-content: center;">Añadir</button>

  </div>
  <div style="text-align: center;">
  </div>
  <div style="background-color: white; border: 1px solid red; padding:1rem;border-radius: 18px;" *ngIf="checkDisable()">
     <label style="color: red;margin-bottom: 0;font-weight: 100;">No puede agregar Otro hasta el cierre de año </label>
  </div>

</div>





</section>

<section style="width: -webkit-fill-available;height: 100vh;display: flex;flex-direction: column;justify-content: center;align-items: center;" *ngIf="!isAdmin()">

  <div>

    Fuera de Servicio.
  
    El periodo escolar ha terminado!
  
    Espere a que inicie un nuevo periodo
  
  </div>

</section>