<div class="section-outer-container">
  <div class="section-container">
    <mat-icon>keyboard_backspace</mat-icon>
    <mat-icon class="title-icon">school</mat-icon>
    <h1 class="title">Profesores</h1>
  </div>

  <img
    style="width: 30%; border-radius: 2rem; height: 6rem"
    src="../../assets/img/students.png"
  />
</div>

<div class="outside-table" style="background: linear-gradient(45deg, #ffffff, #ffffff85);"> 
  <div style="display: flex;
  top: .5rem;
  position: relative;">

      <div class="search-square">
          <mat-icon style="color:white;padding: 0;">search</mat-icon>
      </div>

      <mat-form-field style="width: 100%">
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Buscar"
        />
      </mat-form-field>
  
  </div>


    <div class="button-container">
      <button aria-label="download" (click)="downloadPdf()" class="export">
        <mat-icon>cloud_download</mat-icon>
        Exportar
      </button>
      <button aria-label="download" (click)="goToAdd()" class="add">
        <mat-icon>add</mat-icon>
        Añadir
      </button>
    </div>
  </div>

<div
  class="mat-elevation-z8"
  style="
    border-radius: 1.5rem;
    background-color: #fff;
    overflow: auto;
    width: 100%;
  "
>
  <table
    mat-table
    [dataSource]="teacherListMat"
    matSort
    id="content"
    #content
    style="background: none"
  >
  <!--background: linear-gradient(45deg, #413989, #b3acff);// -->
  
    <ng-container matColumnDef="cedula">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bolder;">CEDULA</th>
      <td mat-cell *matCellDef="let item">{{ item.cedula }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bolder;">NOMBRE</th>
      <td mat-cell *matCellDef="let item">{{ firstLetterUpperCase(item.name) }}</td>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bolder;">APELLIDO</th>
      <td mat-cell *matCellDef="let item">{{ firstLetterUpperCase(item.last_name) }}</td>
    </ng-container>

    <ng-container matColumnDef="degree">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bolder;">
        ESPECIALIDAD
      </th>
      <td mat-cell *matCellDef="let item" style="text-transform: capitalize;">{{ item.teacherData.degree }}</td>
    </ng-container>

    <ng-container matColumnDef="qualification">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bolder;">
        TÍTULO
      </th>
      <td mat-cell *matCellDef="let item" style="text-transform: capitalize;">{{ item.teacherData.qualification }}</td>
    </ng-container>

        

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef style="font-weight:bolder;">ACCIONES</th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="onEditList(item.id)" mat-menu-item>
            <mat-icon >✎</mat-icon>
            <span>Editar</span>
          </button>
          <button (click)="onProfileList(item.id)" mat-menu-item>
            <mat-icon >👁</mat-icon>
            <span>Ver Detalles</span>
          </button>
          <button (click)="dismiss(item.id)" mat-menu-item>
            <mat-icon >X</mat-icon>
            <span>Despedir</span>
          </button>
        </mat-menu>

      </td>
    </ng-container>

    <!-- Name Column -->
    <tr
      mat-header-row
      *matHeaderRowDef="['cedula', 'name', 'last_name', 'qualification','degree','Acciones']"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: ['cedula', 'name', 'last_name','qualification','degree','Acciones']
      "
    ></tr>
  </table>

  <mat-paginator
    style="background: none"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>

<section *ngIf="showeditdialog" class="dialog-background">
  <div class="dialog">
    <div class="dialog-title-container">
      <h1><mat-icon class="title-icon-lt">build</mat-icon>  Editar Profesor</h1>
      <mat-icon class="close-icon"  (click)="hideEditDialog()"
        >backspace</mat-icon
      >
    </div>
    
    <form [formGroup]="editTeacherFormGroup">
        <div style="display: flex;flex-direction: row;align-items: center;">
      <mat-form-field style="width: 15%;">
        <mat-select formControlName="nationality" [(value)]="selectedNationality" [(ngModel)]="selectedNationality"  [disabled]>
          <mat-option *ngFor="let option of nationality" [value]="option.value">{{ option.label }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="showeditdialog" class="example-full-width">
        <mat-label>Cedula</mat-label>
        <input type="text" matInput formControlName="cedula" readonly />
      </mat-form-field>
    </div>
      <br />
      <div class="two-inputs">
        <mat-form-field *ngIf="showeditdialog" class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput formControlName="name" style="text-transform: capitalize;"/>
        </mat-form-field>
        <br />
        <mat-form-field *ngIf="showeditdialog" class="example-full-width">
          <mat-label>Segundo Nombre</mat-label>
          <input type="text" matInput formControlName="second_name" style="text-transform: capitalize;"/>
        </mat-form-field>
      </div>
      <br />

      <div class="two-inputs">
        <mat-form-field *ngIf="showeditdialog" class="example-full-width">
          <mat-label>Apellido</mat-label>
          <input type="text" matInput formControlName="last_name" style="text-transform: capitalize;"/>
        </mat-form-field>
        <br />
        <mat-form-field *ngIf="showeditdialog" class="example-full-width">
          <mat-label>Segundo Apellido</mat-label>
          <input type="text" matInput formControlName="second_last_name" style="text-transform: capitalize;"/>
        </mat-form-field>
      </div>

      <br />

      <mat-form-field
        *ngIf="showeditdialog"
        style="width: 100%"
        class="example-full-width"
      >
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
        <mat-error *ngIf="editTeacherFormGroup.get('email').invalid">
          Ingresa un email valido: ejemplo&#64;ejemplo.com
        </mat-error>
      </mat-form-field>
      <br />

      <div class="two-inputs">
        <mat-form-field *ngIf="showeditdialog" class="example-full-width">
          <mat-label>Teléfono</mat-label>
          <input type="text" matInput formControlName="phone" />
          <mat-error *ngIf="editTeacherFormGroup.get('phone').invalid">
            Ejemplo: 0412-858-1138 o 04128581138.
          </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field *ngIf="showeditdialog">
          <mat-label>Escoge una fecha</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthday" />
          <mat-hint>DIA/MES/AÑO</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-form-field
        style="width: 100%"
        *ngIf="showeditdialog"
        class="example-full-width"
      >
        <mat-label>Dirección</mat-label>
        <input type="text" matInput formControlName="address" style="text-transform: capitalize;" />
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Genero</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="masculino">Masculino</mat-option>
          <mat-option value="femenino">Femenino</mat-option>
        </mat-select>
      </mat-form-field>

      <br />
      <br />

      <div style="display: flex;flex-direction: row;align-items: center;">

        <mat-form-field *ngIf="showeditdialog" class="example-full-width">
          <mat-label>Horas a Trabajar</mat-label>
          <input type="number" matInput formControlName="total_work_charge" />
        </mat-form-field>
      </div>

      <div class="two-inputs">
        <mat-form-field *ngIf="showeditdialog" class="example-full-width">
          <mat-label>Grado Académico</mat-label>
          <mat-select formControlName="qualification">
            <mat-option value="técnico superior universitario">Técnico Superior Universitario</mat-option>
            <mat-option value="licenciatura">Licencitura</mat-option>
            <mat-option value="ingeniería">Ingeniería</mat-option>
            <mat-option value="maestría">Maestría</mat-option>
            <mat-option value="doctorado">Doctorado</mat-option>
            <mat-option value="diploma">Diploma</mat-option>
            <mat-option value="certificado">Certificado</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field *ngIf="showeditdialog" class="example-full-width">
          <mat-label>Carrera</mat-label>
          <input type="text"
          placeholder="Elige uno"
          aria-label="Elige uno"
          matInput
          [formControl]="myControl"
          formControlName="degree"
          [matAutocomplete]="auto"
          style="padding: 0;">
   <mat-autocomplete #auto="matAutocomplete">
     <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
       {{option}}
     </mat-option>
   </mat-autocomplete>
        </mat-form-field>
      </div>
      <br />

      <div class="two-inputs">
        <mat-form-field *ngIf="showeditdialog" class="example-full-width">
          <mat-label>Grado Académico</mat-label>
          <mat-select formControlName="second_qualification">
            <mat-option value="técnico superior universitario">Técnico Superior Universitario</mat-option>
            <mat-option value="licenciatura">Licencitura</mat-option>
            <mat-option value="ingeniería">Ingeniería</mat-option>
            <mat-option value="maestría">Maestría</mat-option>
            <mat-option value="doctorado">Doctorado</mat-option>
            <mat-option value="diploma">Diploma</mat-option>
            <mat-option value="certificado">Certificado</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field *ngIf="showeditdialog" class="example-full-width">
          <mat-label>Carrera</mat-label>
          <input type="text"
          placeholder="Elige uno"
          aria-label="Elige uno"
          matInput
          [formControl]="mySecondControl"
          formControlName="second_degree"
          [matAutocomplete]="auto"
          style="padding: 0;">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of secondFilteredOptions| async" [value]="option">
                {{option}}
              </mat-option>
      </mat-autocomplete>
        </mat-form-field>
      </div>
      <br />
    </form>

    <div class="dialog-button-container">
      <button class="export" (click)="editTeacher()"> 
        <mat-icon>build</mat-icon> 
        Editar Profesor</button>

      <button class="cancel" (click)="hideEditDialog()">
        Cancelar
      </button>
    </div>
  </div>
</section>



<!-------------PROFILE DATA------------------>
<div  *ngIf="showProfileDialog" style="padding: 2rem;
position: absolute;
z-index: 100000;
top: 0;
left: 0;
width: 100%;
background: #dddde3f0;
height: -webkit-fill-available;">
  <div class="main-body">
  
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb" style="align-items: center;flex-direction: row;justify-content: space-between; background:white;">
            <div style="display: flex;">
              <li class="breadcrumb-item" (click)="hideProfileDialog()" style="color:#6462df;text-decoration: underline; cursor: pointer;"><a>Profesores</a></li>
              <li class="breadcrumb-item active" aria-current="page">Datos del Profesor</li>
            </div>
            <mat-icon class="close-icon"  (click)="hideProfileDialog()"
            >backspace</mat-icon
          >

          </ol>
        </nav>
        <!-- /Breadcrumb -->
  
        <div class="row gutters-sm" >
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4>{{capitalizeWords(profileTeacher.name)}} {{capitalizeWords(profileTeacher.last_name)}}</h4>
                    <p class="text-secondary mb-1">Profesor</p>
                    <p class="text-muted font-size-sm">{{ profileTeacher.teacherData?.hiring === '0000-00-00' ? 'Fecha no disponible' : profileTeacher.teacherData?.hiring }}</p>
                    <button (click)="generatePDF()" class="export"><mat-icon>picture_as_pdf</mat-icon>Exportar Horario</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0" style="font-size: 0.8rem;">Nombre completo</h6>
                  </div>
                  <div class="col-sm-9 text-secondary" style="font-size: 0.8rem;">
                    {{firstLetterUpperCase(profileTeacher.name)}}   {{firstLetterUpperCase(profileTeacher.second_name) }}  {{ firstLetterUpperCase(profileTeacher.last_name) }}  {{ firstLetterUpperCase(profileTeacher.second_last_name) }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0" style="font-size: 0.8rem;">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary" style="font-size: 0.8rem;">
                    {{ profileTeacher.email }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0" style="font-size: 0.8rem;">Teléfono</h6>
                  </div>
                  <div class="col-sm-9 text-secondary" style="font-size: 0.8rem;">
                    {{ profileTeacher.phone }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0" style="font-size: 0.8rem;">Cedula</h6>
                  </div>
                  <div class="col-sm-9 text-secondary" style="font-size: 0.8rem;">
                     {{ profileTeacher.cedula}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0" style="font-size: 0.8rem;">Dirección</h6>
                  </div>
                  <div class="col-sm-9 text-secondary" style="font-size: 0.8rem;">
                    {{ capitalizeWords(profileTeacher.address) }}
         
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
          <div style="width: 100%;padding: 1rem;
          display: flex;gap: 2rem;">
            
            <div style="background: white;
            padding: 1rem;
            text-align: center;
            width: 50%;">
              <div>
                <img *ngIf="profileTeacher.teacherData?.qualification === 'certificado' || profileTeacher.teacherData?.qualification === 'diploma'" src="../../assets/img/green_badge.png"/>
                <img *ngIf="profileTeacher.teacherData?.qualification==='técnico superior universitario'" src="../../assets/img/blue_badge.png"/>
                <img *ngIf="profileTeacher.teacherData?.qualification==='ingeniería'||profileTeacher.teacherData?.qualification==='licenciatura'" src="../../assets/img/purple_badge.png"/>
                <img *ngIf="profileTeacher.teacherData?.qualification==='doctorado'|| profileTeacher.teacherData?.qualification==='maestría'" src="../../assets/img/golden_badge.png"/>
                <h1 style="text-decoration: underline;">Especialidad</h1>
                <h3 style="margin: 0;text-transform:capitalize;">{{profileTeacher.teacherData?.qualification}}</h3>
                <h2 style="margin: 0;text-transform:capitalize;">{{profileTeacher.teacherData?.degree }}</h2>
              </div>

            </div>
            
            <div style="background: white;
            padding: 1rem;
            text-align: center;
            width: 50%;">
              <div>
                <img *ngIf="profileTeacher.teacherData?.second_qualification === 'certificado' || profileTeacher.teacherData?.second_qualification === 'diploma'" src="../../assets/img/green_badge.png"/>
                <img *ngIf="profileTeacher.teacherData?.second_qualification==='técnico superior universitario'" src="../../assets/img/blue_badge.png"/>
                <img *ngIf="profileTeacher.teacherData?.second_qualification==='ingeniería'||profileTeacher.teacherData?.second_qualification==='licenciatura'" src="../../assets/img/purple_badge.png"/>
                <img *ngIf="profileTeacher.teacherData?.second_qualification==='doctorado'|| profileTeacher.teacherData?.second_qualification==='maestría'" src="../../assets/img/golden_badge.png"/>

                <h1 style="text-decoration: underline;">Especialidad</h1>
                <h3 style="margin: 0;text-transform:capitalize;">{{profileTeacher.teacherData?.second_qualification}}</h3>
                <h2 style="margin: 0;text-transform:capitalize;">{{profileTeacher.teacherData?.second_degree }}</h2>
              </div>

            </div>

      </div>

      </div>
      
        <!--PDF EXPORTATION content -->
        <div class="pdfContent" #pdfContent >

          <div class="pdfHeader">
            <img src="../../assets/img/JFB_LOGO_PURPLE.png">
            <div>
              <h2 class='bolder'>Unidad Educativa José Francisco Bermúdez</h2>
              <h3>Carúpano - Estado Sucre</h3>
              <h3 class='bolder'>Horario de Clases</h3>
            </div>
          </div>

          <section class="tableSection">
            <table class="routineTable" border="1">
              <thead>
                <tr>
                  <th class='hourTh'>Hora</th>
                  <th class='dayTh' *ngFor="let day of days">{{ day }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let interval of intervals">
                  <td class='tableHour'>{{ interval.start }} - {{ interval.end }}</td>
                  <td class='tableSubject' *ngFor="let day of [1, 2, 3, 4, 5]">
                    {{ getSubjectForIntervalAndDay(interval, day) }}
                  </td>
                </tr>
              </tbody>
            </table>

            <table border="1" class="routineTable">
              <thead>
                <tr>
                  <th class='hourTh'>Hora</th>
                  <th class='dayTh' *ngFor="let day of days">{{ day }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let interval of intervalsNoon">
                  <td class='tableHour'>{{ interval.start }} - {{ interval.end }}</td>
                  <td class='tableSubject' *ngFor="let day of [1, 2, 3, 4, 5]">
                    {{ getSubjectForIntervalAndDay(interval, day) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
  </div>


  


