<section class="outer-contanier">
  <div class='canvas-container'>
    <canvas
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [type]="barChartType"
    >
    </canvas>
  </div>
  <section>
    <table border="1" class="teacherTable">
      <thead>
        <tr>
          <th>Periodo</th>
          <th>Turno</th>
          <th>Cantidad De Secciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let section of reportList?.sectionByTurn">
          <td *ngFor="let key of getKeys(section)">{{ section[key] }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>
