.background-radial-gradient {
    background-color: hsl(0, 0%, 100%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(0, 0%, 100%) 15%,
        hsl(0, 0%, 100%) 35%,
        hsl(0, 0%, 94%) 75%,
        hsl(0, 0%, 97%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(0, 0%, 100%) 15%,
        hsl(0, 0%, 100%) 35%,
        hsl(0, 0%, 100%) 75%,
        hsl(0, 0%, 100%) 80%,
        transparent 100%);
        height: 931px;
  }
  
  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -30px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }
  
  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }
  
  #radius-shape-3 {
    border-radius: 38% 50% 63% 37% / 70% 33% 67% 30%;
    bottom: -860px;
    right: 150px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }
  
  .bg-glass {
    background-color: white !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
  


  body {
    background-color: #0e6cc4;
  }
  
  .wave {
    position: fixed;
    top: 0;
    transform: rotate(80deg);
    left: 0;
  }
  
  .wave > div {
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    opacity: 0.4;
  
    position: fixed;
    top: 3%;
    left: 10%;
  }
  
  .wave--one {
    background: rgb(197, 184, 255);
    animation: drift 7000ms infinite linear;
  }
  
  .wave--two {
    animation: drift 3000ms infinite linear;
    opacity: 0.1;
    background: rgb(108, 93, 194);
  }
  
  .wave--three {
    animation: drift 7500ms infinite linear;
    background-color: #a797ff;
  }
  
  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
  