*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0 2rem;
    padding-right: 4rem;
    justify-content: space-between;
}

.img{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 400px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 22px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}



@media screen and (max-width: 1050px){
	.container-login{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container-login{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}

/*
.background-radial-gradient {
    background-color: hsl(0, 0%, 100%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(0, 0%, 100%) 15%,
        hsl(0, 0%, 100%) 35%,
        hsl(0, 0%, 94%) 75%,
        hsl(0, 0%, 97%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(0, 0%, 100%) 15%,
        hsl(0, 0%, 100%) 35%,
        hsl(0, 0%, 100%) 75%,
        hsl(0, 0%, 100%) 80%,
        transparent 100%);
        height: 931px;
  }
  
  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -30px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }
  
  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }
  
  #radius-shape-3 {
    border-radius: 38% 50% 63% 37% / 70% 33% 67% 30%;
    bottom: -860px;
    right: 150px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }
  
  .bg-glass {
    background-color: white !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
  


  body {
    background-color: #0e6cc4;
  }
  
  .wave {
    position: fixed;
    top: 0;
    transform: rotate(80deg);
    left: 0;
  }
  
  .wave > div {
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    opacity: 0.4;
  
    position: fixed;
    top: 3%;
    left: 10%;
  }
  
  .wave--one {
    background: rgb(236, 236, 236);
    animation: drift 7000ms infinite linear;
  }
  
  .wave--two {
    animation: drift 3000ms infinite linear;
    opacity: 0.1;
    background: rgb(214, 213, 224);
  }
  
  .wave--three {
    animation: drift 7500ms infinite linear;
    background-color: #c4c4c4;
  }
  
  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
  

  */

  