<div class="section-outer-container">
  <div class="section-container">
    <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
    <mat-icon class="title-icon">domain</mat-icon>
    <h1 class="title">Secciones</h1>
  </div>

  <img class="table-image" src="../../assets/img/section.png" />
</div>

<div class="outside-table" style="background: linear-gradient(45deg, #ffffff, #ffffff85);">
  <div style="display: flex;
  top: .5rem;
  position: relative;">

    <div class="search-square">
      <mat-icon style="color:white;padding: 0;">search</mat-icon>
    </div>

    <mat-form-field style="width: 100%">
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" />
    </mat-form-field>

  </div>

  <div class="button-container">

    <button mat-button [matMenuTriggerFor]="menu" class='menu-button'>
      <mat-icon style="margin: 0">filter_list</mat-icon>Año
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="sortedSectionListRecover('todos')"
        [class.active]="selectedYear === 'todos'">Todos</button>
      <button mat-menu-item (click)="sortedSectionListRecover('primero')"
        [class.active]="selectedYear === 'primero'">Primer Año</button>
      <button mat-menu-item (click)="sortedSectionListRecover('segundo')"
        [class.active]="selectedYear === 'segundo'">Segundo Año</button>
      <button mat-menu-item (click)="sortedSectionListRecover('tercero')"
        [class.active]="selectedYear === 'tercero'">Tercero Año</button>
      <button mat-menu-item (click)="sortedSectionListRecover('cuarto')"
        [class.active]="selectedYear === 'cuarto'">Cuarto Año</button>
      <button mat-menu-item (click)="sortedSectionListRecover('quinto')"
        [class.active]="selectedYear === 'quinto'">Quinto Año</button>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="periodMenu" class='menu-button'>
      <mat-icon style="margin: 0">filter_list</mat-icon>Periodo
    </button>
    <mat-menu #periodMenu="matMenu">
      <ng-container *ngFor="let period of periodList; trackBy: trackByFn">
        <button mat-menu-item (click)="changePeriod(period.period)" [class.selected]="selectedPeriod === period.period">
          {{ period.period }}
        </button>
      </ng-container>
    </mat-menu>


    <!--    <mat-form-field class="example-full-width">
      <mat-label>Periodo</mat-label>
      <mat-select #period value='all' (valueChange)="changePeriod($event)" [(value)]="selectedPeriod">
        @for (period of periodList; track period) {
          <mat-option [value]="period.period">{{period.period}}</mat-option>
        }
      </mat-select>
  </mat-form-field> -->


    <button aria-label="download" (click)="downloadPdf()" class="export">
      <mat-icon>cloud_download</mat-icon>
      Exportar
    </button>
    <button (click)="openDialog()" [disabled]="" aria-label="add" class="add">
      <mat-icon>add</mat-icon>
      Nuevo
    </button>
  </div>
</div>




<div class="mat-elevation-z8 mat-table-wrapper"
  style="border-radius: 1.5rem; background-color: #fff; overflow: auto; width: 100%;">
  <table mat-table style="background: none" [dataSource]="sectionListMat" matSort id="content" #content>
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bolder;color:white;">Año</th>
      <td mat-cell *matCellDef="let item"
        [ngStyle]="{'background': getBackgroundColor(item.year),'color': 'black','font-weight':'bolder'}">{{
        firstLetterUpperCase(item.year) }}</td>
    </ng-container>

    <ng-container matColumnDef="section_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bolder;color:white;">Sección</th>
      <td mat-cell *matCellDef="let item">{{ firstLetterUpperCase(item.section_name) }}</td>
    </ng-container>

    <ng-container matColumnDef="teacher_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bolder;color:white;">Profesor Guía</th>
      <td mat-cell *matCellDef="let item">{{ firstLetterUpperCase(item.teacher_id.name) }} {{
        firstLetterUpperCase(item.teacher_id.last_name) }}</td>
    </ng-container>

    <ng-container matColumnDef="quota">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="number" style="font-weight:bolder;color:white;">Cupo</th>
      <td mat-cell *matCellDef="let item">{{ item.quota }}</td>
    </ng-container>

    <ng-container matColumnDef="classroom">
      <th mat-header-cell *matHeaderCellDef style="font-weight:bolder;color:white;">Aula</th>
      <td mat-cell *matCellDef="let item">{{ item.classroom }}</td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef style="font-weight:bolder;color:white;">Acciones</th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="goToRegister(item.id, item.year, item.section_name)"
            [disabled]="disableOnPeriod()">
            <mat-icon>✒</mat-icon>
            <span>Inscribir</span>
          </button>
          <button mat-menu-item (click)="onStudentList(item.id)">
            <mat-icon>☺</mat-icon>
            <span>Asistencia</span>
          </button>
          <button mat-menu-item (click)="goToWorkCharge(item.id, item.period,item.classroom)">
            <mat-icon>🌤</mat-icon>
            <span>Horario</span>
          </button>
          <button (click)="onEditList(item.id)" mat-menu-item>
            <mat-icon>✎</mat-icon>
            <span>Editar</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['year', 'section_name', 'teacher_id', 'quota','classroom', 'Acciones']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['year', 'section_name', 'teacher_id', 'quota','classroom','Acciones']"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="padding: 1rem;text-align: center;"><span style="color:gray;font-size: 1.2rem;">No hay datos</span></td>
    </tr>
  </table>

  <mat-paginator style="background: none" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
    #paginatorNormal></mat-paginator>
</div>

<div class="expansion-panel-wrapper">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of paginatedSectionList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Año: <b>{{firstLetterUpperCase(item.year)}}</b> - Sección:<b>{{firstLetterUpperCase(item.section_name)}}</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p><strong>AÑO:</strong> {{ firstLetterUpperCase(item.year) }}</p>
      <p><strong>SECCIÓN:</strong> {{ firstLetterUpperCase(item.section_name) }}</p>
      <p><strong>PROFESOR GUÍA:</strong> {{ firstLetterUpperCase(item.teacher_id.name) }} {{
        firstLetterUpperCase(item.teacher_id.last_name) }}</p>
      <p><strong>CUPO:</strong> {{ item.quota }}</p>
      <p><strong>ACCIONES:</strong>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="onEditList(item.id)" mat-menu-item>
            <mat-icon>✎</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="goToRegister(item.id, item.year, item.section_name)"
            [disabled]="disableOnPeriod()">
            <mat-icon>✒</mat-icon>
            <span>Inscribir</span>
          </button>
          <button mat-menu-item (click)="goToWorkCharge(item.id, item.period,item.classroom)">
            <mat-icon>🌤</mat-icon>
            <span>Horario</span>
          </button>
          <button mat-menu-item (click)="onStudentList(item.id)">
            <mat-icon>☺</mat-icon>
            <span>Asistencia</span>
          </button>
        </mat-menu>
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="paginatedSectionList.length === 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          No hay datos
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator style="background: none" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="applyPaginator()"
    #paginatorResponsive></mat-paginator>
</div>




<section *ngIf="showdialog" class="dialog-background">

  <div class="dialog" style="width:60%">
    <div class="dialog-title-container">
      <div class="inside-title-container">
        <mat-icon class="title-icon-lt">add_circle_outline</mat-icon>
        <h1 style="text-decoration: underline;">Crear Sección</h1>
      </div>
      <mat-icon class="close-icon" (click)="hideDialog()">close</mat-icon>
    </div>

    <form [formGroup]="AddSectionFormGroup">
      <mat-form-field *ngIf="showdialog">
        <mat-label>Selecciona año</mat-label>
        <mat-select formControlName="year" (ngModelChange)="loadSection()">
          @for (year of year; track year) {
          <mat-option [value]="year.value">{{year.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" *ngIf="showdialog">
        <mat-label>Nombre de la sección</mat-label>
        <input type="text" style='text-transform: capitalize;' matInput formControlName="SectionName" readonly>
        <mat-hint>¡El nombre es automatico!</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" *ngIf="showdialog">
        <mat-label>Profesor Guia</mat-label>
        <input type="text" matInput formControlName="person_id" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOption">
          @for (option of teacher; track option) {
          <mat-option [value]="option">{{firstLetterUpperCase(option.name)}}
            {{firstLetterUpperCase(option.last_name)}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" *ngIf="showdialog">
        <mat-label>Cupo de la sección(N# de Estudiantes)</mat-label>
        <input type="number" matInput formControlName="quota">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width" *ngIf="showdialog">
        <mat-label>Aula</mat-label>
        <input type="text" matInput formControlName="classroom">
        <mat-error *ngIf="AddSectionFormGroup.get('classroom').hasError('invalidClassroom')">
          El aula debe comenzar con "A-" seguido de un número.
        </mat-error>
      </mat-form-field>  
      <br>
      <br>
      <br>

    </form>


    <div class="dialog-button-container">
      <button class="add" (click)="addSection()">
        <mat-icon>add_circle_outline</mat-icon>
        Crear Sección</button>

      <button class="cancel" (click)="hideDialog()">
        Cancelar
      </button>
    </div>
  </div>
</section>



<!------------------------- EDIT ------------------------>

<section *ngIf="showeditdialog" class="dialog-background">
  <div class="dialog" style="width:60%">
    <div class="dialog-title-container">
      <div class="inside-title-container">
        <mat-icon class="title-icon-lt">build</mat-icon>
        <h1 style="text-decoration: underline;">Editar Sección</h1>
      </div>
      <mat-icon class="close-icon" (click)="hideEditDialog()">close</mat-icon>
    </div>

    <form [formGroup]="AddSectionFormGroup">

      <mat-form-field *ngIf="showeditdialog">
        <mat-label>Selecciona año</mat-label>
        <mat-select formControlName="year" (ngModelChange)="loadSection()">
          @for (year of year; track year) {
          <mat-option [value]="year.value">{{year.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" *ngIf="showeditdialog">
        <mat-label>Nombre de la sección</mat-label>
        <input type="text" matInput formControlName="SectionName" readonly style='text-transform: capitalize;'>
        <mat-hint>¡El nombre es automatico!</mat-hint>
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width" *ngIf="showeditdialog">
        <mat-label>Profesor Guia</mat-label>
        <input type="text" matInput formControlName="person_id" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOption">
          @for (option of teacher; track option) {
          <mat-option [value]="option">{{firstLetterUpperCase(option.name)}}
            {{firstLetterUpperCase(option.last_name)}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-width" *ngIf="showeditdialog">
        <mat-label>Cupo de la sección(N# de Estudiantes)</mat-label>
        <input type="number" matInput formControlName="quota">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width" *ngIf="showeditdialog">
        <mat-label>Aula</mat-label>
        <input type="text" matInput formControlName="classroom">
        <mat-error *ngIf="AddSectionFormGroup.get('classroom').hasError('invalidClassroom')">
          El aula debe comenzar con "A-" seguido de un número.
        </mat-error>
      </mat-form-field>      
      <br>
      <br>
      <br>
    </form>

    <div class="dialog-button-container">
      <button class="export" (click)="editSection()">
        <mat-icon>build</mat-icon>
        Editar Sección</button>

      <button class="cancel" (click)="hideEditDialog()">
        Cancelar
      </button>
    </div>
  </div>

</section>



<!------------------------- STUDENT LIST ------------------------>

<section *ngIf="showStudentListDialog" class="dialog-background">
  <div class="dialog" style="width:60%">
    <div class="dialog-title-container">
      <div class="inside-title-container">
        <mat-icon class="title-icon-lt">build</mat-icon>
        <h1 style="text-decoration: underline;">Lista de Asistencia</h1>
      </div>
      <mat-icon class="close-icon" (click)="hideStudentListDialog()">close</mat-icon>
    </div>
    <h2>{{this.currentSectionName}}</h2>

    <input type="hidden" [value]="currentSectionId">

    <div class="mat-elevation-z8 mat-table-wrapper"
      style="border-radius: 1.5rem; background-color: #fff; overflow: auto; width: 100%;">
      <table mat-table [dataSource]="studentListMat" matSort id="content2" #content2>
        <ng-container matColumnDef="cedula">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bolder;color:white;">Cedula</th>
          <td mat-cell *matCellDef="let item">{{ item.cedula }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight:bolder;color:white;">Nombre</th>
          <td mat-cell *matCellDef="let item">{{ firstLetterUpperCase(item.name) }}</td>
        </ng-container>

        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="number" style="font-weight:bolder;color:white;">
            Apellido</th>
          <td mat-cell *matCellDef="let item">{{ firstLetterUpperCase(item.last_name) }}</td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef style="font-weight:bolder;color:white;">Acciones</th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="disableRegistration(item.id, item.person_id)">
                <mat-icon>✎</mat-icon>
                <span>Anular Inscripción</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['cedula', 'name', 'last_name', 'Acciones']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['cedula', 'name', 'last_name', 'Acciones']"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length"  style="color:gray;font-size: 1.2rem;text-align:center;padding:1rem;">No hay datos</td>
        </tr>
      </table>

      <mat-paginator style="background: none" [pageSizeOptions]="[40]" showFirstLastButtons
        #studentPaginatorNormal></mat-paginator>
    </div>

    <div class="expansion-panel-wrapper">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of paginatedStudentList">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.cedula}} - {{firstLetterUpperCase(item.name)}} {{firstLetterUpperCase(item.last_name)}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p><strong>Cedula:</strong> {{ item.cedula }}</p>
          <p><strong>Nombre:</strong> {{ firstLetterUpperCase(item.name) }}</p>
          <p><strong>Apellido:</strong> {{ firstLetterUpperCase(item.last_name) }}</p>
          <p><strong>Acciones:</strong>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="disableRegistration(item.id, item.person_id)">
                <mat-icon>✎</mat-icon>
                <span>Anular Inscripción</span>
              </button>
            </mat-menu>
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="paginatedStudentList.length === 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              No hay datos
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-paginator style="background: none" [pageSizeOptions]="[40]" showFirstLastButtons
        (page)="applyStudentPaginator()" #studentPaginatorResponsive></mat-paginator>
    </div>

    <div style="display:flex;margin-top: 2rem;gap: 1rem;">
      <button class="export" (click)="downloadPdfStudentList()">
        Exportar
      </button>

      <button class="cancel" (click)="hideStudentListDialog()">
        Cancelar
      </button>
    </div>
  </div>

</section>