<section class="outer-contanier">
  <div class='canvas-container'>
    <canvas
      baseChart
      [data]="doughnutChartData"
      [options]="doughnutChartOptions"
      [type]="doughnutChartType"
    >
    </canvas>
  </div>
  <section>
    <table border="1" class="teacherTable">
      <thead>
        <tr>
          <th>Grado de la Carrera</th>
          <th>Total De Profesores</th>        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of reportList.teacherByQualification">
          <td>{{ teacher.qualification }}</td>
          <td>{{ teacher.number_of_teachers}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>