<section class="outer-contanier" #pdfContent>
  <div class='canvas-container'>
    <canvas
      baseChart
      [data]="doughnutChartData"
      [options]="doughnutChartOptions"
      [type]="doughnutChartType"
    >
    </canvas>
  </div>
  <section>
    <table border="1" class="teacherTable">
      <thead>
        <tr>
          <th>Género</th>
          <th>Total De Estudiantes</th>
          <!-- Agrega más columnas si es necesario -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of reportList.studentGenders">
          <td>{{ student.gender }}</td>
          <td>{{ student.count }}</td>
          <!-- Agrega más celdas según sea necesario -->
        </tr>
      </tbody>
    </table>
    <button class='export' (click)="generatePDF()"></button>
  </section>
  
</section>
