<section class="outer-contanier">
  <div class='canvas-container'>    
    <canvas
      baseChart
      [data]="doughnutChartData"
      [options]="doughnutChartOptions"
      [type]="doughnutChartType"
    >
    </canvas>
  </div>
  <section>
    <table border="1" class="teacherTable">
      <thead>
        <tr>
          <th>Carrera</th>
          <th>Total De Profesores</th>     
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of reportList?.teacherByDegree">
          <td *ngFor="let key of getKeys(teacher)">{{ teacher[key] }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>