<button  aria-label="Example icon-button with a menu" class="button-3" (click)="generatePDF()">
  <mat-icon>cloud_download</mat-icon>
  <span>Exportar</span>
</button>

<section class="outer-contanier" #pdfContent>
  <div class='canvas-container'>
    <canvas
      baseChart
      [data]="polarAreaChartData"
      [options]="polarAreaChartOptions"
      [type]="polarAreaChartType"
    >
    </canvas>
  </div>
  <section>
    <table border="1" class="teacherTable">
      <thead>
        <tr>
          <th>Turno</th>
          <th>Total De Estudiantes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of reportList.studentByTurn">
          <td>{{ student.turno }}</td>
          <td>{{ student.total_estudiantes }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>