<div style="display: flex;justify-content: center;">
  <canvas
    baseChart
    [data]="doughnutChartData"
    [options]="doughnutChartOptions"
    [type]="doughnutChartType"
  >
  </canvas>
</div>
<section>
  <table border="1" class="teacherTable">
    <thead>
      <tr>
        <th *ngFor="let key of getKeys(reportList.teacherGenders[0])">{{ key }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of reportList.teacherGenders">
        <td *ngFor="let key of getKeys(teacher)">{{ teacher[key] }}</td>
      </tr>
    </tbody>
  </table>
</section>
