<button  aria-label="Example icon-button with a menu" class="button-3" (click)="generatePDF()">
  <mat-icon>cloud_download</mat-icon>
  <span>Exportar</span>
</button>


<section class="outer-contanier" #pdfContent>
  <div class='canvas-container'>
    <canvas
      baseChart
      [data]="doughnutChartData"
      [options]="doughnutChartOptions"
      [type]="doughnutChartType"
    >
    </canvas>
  </div>

  <section>
    <table border="1" class="teacherTable">
      <thead>
        <tr>
          <th>Género</th>
          <th>Total De Profesores</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of reportList.teacherGenders">
          <td>{{ teacher.gender }}</td>
          <td>{{ teacher.total_teachers }}</td>
        </tr>
      </tbody>
    </table>
  </section>

</section>
