
::ng-deep .mat-mdc-table thead {
  background: linear-gradient(45deg, #2518e7c4, #676ecfad) !important;
  background-color: unset !important;
}

::ng-deep .mat-mdc-header-row{
  background-color: unset !important;
  background: none !important;
}


::ng-deep  .mat-sort-header-container {
  font-weight: bold;
}

::ng-deep .mat-sort-header-stem {
  background: rgb(255 143 75) !important;
}

::ng-deep .mat-sort-header-pointer-middle {
  background: rgb(255 143 75) !important;
}

::ng-deep .mat-sort-header-pointer-left{
  background: rgb(235 147 112) !important;
}

::ng-deep .mat-sort-header-pointer-right{
  background: rgb(235 147 112) !important;
}

::ng-deep html .mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #363277;
  --mdc-switch-selected-handle-color: #7466f5;
  --mdc-switch-selected-hover-state-layer-color: #b286ed;
  --mdc-switch-selected-pressed-state-layer-color: #191251;
  --mdc-switch-selected-focus-handle-color: #271b65;
  --mdc-switch-selected-hover-handle-color: #360fa1;
  --mdc-switch-selected-pressed-handle-color: #360fa1;
  --mdc-switch-selected-focus-track-color: #412bbd;
  --mdc-switch-selected-hover-track-color: #371bcd;
  --mdc-switch-selected-pressed-track-color: #6229ed;
  --mdc-switch-selected-track-color: #4d35ab;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  box-shadow: 1px 1px 5px 0px #3d3d3d96;
}

.inside-title-container{
  display: flex;
  gap: 1rem;
}

.inside-title-container h1{
  text-decoration: underline;
}

  
:host /deep/ .material-icons {
    font-family: 'Material Icons' !important;
  }

  ::ng-deep thead{
    background: rgb(0 6 255 / 9%) !important
  }

  .section-outer-container{
    background: linear-gradient(45deg, white, rgb(255, 255, 255));
    display: flex;
    border-radius: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    box-shadow: 1px 1px 6px 3px #4e4e4e66;
  }

  .section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
  }


  .dialog-background{
    width: 100%;
    height: calc(99vh - 64px);
    background-color: #9b9b9b61;
    position: absolute;
    top: 0;
    right: 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .dialog{
    background-color: #fdfbff;
    padding: 1.5rem;
    height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    box-shadow: 1px 1px 8px 4px #676767;
  }

  .dialog-title-container{
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    margin-bottom: 2rem;
  }

  .dialog-title-container h1{
    font-size: 1.5rem; 
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }


  .export{
    border: none;
    background: linear-gradient(45deg, rgb(126, 117, 243), #aca4ff);
    color: white;
    padding: 0.7rem;
    border-radius: 13px;
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    box-shadow: 0px 1px 6px 2px #00000094;
    }

  .export:hover{
    background: linear-gradient(45deg, rgb(74 60 255), #6b4bed);
  }

  .add{
    border: none;
    background: linear-gradient(45deg,#5cb190, rgb(57, 201, 153));
    color: white;
    padding: 0.7rem;
    border-radius: 13px;
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    box-shadow: 0px 1px 6px 2px #00000094;  
  }

  .add:hover{
    background: linear-gradient(45deg,#2f9c72, rgb(7, 134, 92));
  }

  .cancel{
    border: 1px solid #967efd;
    color: #856cf1;
    padding: 0.7rem;
    border-radius: 13px;
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    box-shadow: 1px 1px 6px 0px #000000b0;
  }

  .cancel:hover{
    background: linear-gradient(45deg, #c1c1c1, transparent);
    transition: ease .4s;
  }

  .button-container{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: baseline;
  }

  .mat-table
  {
    background-color:transparent!important;  
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5em;
  }
  table tr:last-child td /*To remove the last border*/
  {
    border-bottom:0 solid
  }

.title{
margin: 0;
font-size: 2rem;
font-weight: bolder;
}

.title-icon{
  color: #ffffff;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(99 87 255), #dcdaf7);
  box-shadow: -1px 0px 6px 1px #6b7295;
}

.close-icon{
    font-weight: bolder; 
    font-size: 1.5rem;
}

.close-icon:hover{
    transition: ease .3s;
    color: orange;
    transform: scale(1.5);
}


.two-inputs{
    display: flex; 
    gap: 1rem
}

.gender-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dialog-button-container{
    display: flex; 
    flex-direction: row; 
    gap: 0.5rem;
}


.menu-button{
    background-color: none;
    color: gray;
    background: none;
    border: none;
}



.menu-button:hover{
color:black;
}


.title-icon-lt{
  color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(99 87 255), #dcdaf7);
  box-shadow: 1px 1px 4px 0px black;
}


.outside-table{
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 20px;
  background: var(--lighter-surface);
  margin-bottom: 2rem;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 8px 0px #00000087;
}

.search-icon{
  display: flex;
  flex-direction: row;
  align-items: baseline;width: 35%
}

.search-icon div{
  position: absolute;
  padding: 1rem;
  z-index: 5;
}

::ng-deep .outside-table .search-icon .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
  border-radius: 15px !important;
  height: 2.8rem;
}

::ng-deep .outside-table .search-icon .mat-mdc-form-field-focus-overlay{
  background-color: white !important;
}

::ng-deep [_ngcontent-ng-c1824096855] {
  background-color: lightgray  !important;
}

.search-square{
  display: flex;
  background: linear-gradient(45deg, #ec8e1a, #dbad2d);
  height: 3.5rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  box-shadow: 1px 1px 5px 2px #00000047;
}







.table-image{
  width: 30%; 
  border-radius: 2rem; 
  height: 6rem;
  display: block;
}


.arrow-icon{
  display: block;
}

/********PROFILE DATA******************************/


.profile-container{
  padding: 2rem;
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  background: #dddde3f0;
  height: -webkit-fill-available;
}










/*****************RESPONSIVE**********************/


@media screen and (max-width: 950px) {
  .table-image{
    display: none;
  }

  .arrow-icon{
    display: none;
  }
  
  .section-outer-container {
    border-radius: 1rem;
    padding: .5rem;
}

.title-icon {
  padding: 1.5rem;
  font-size: 1.5rem;
}

.outside-table {
  flex-direction: column-reverse;
  gap: .5rem;
}

.button-container {
  display: flex;
  gap: .5rem;
  flex-direction: column;
  width: 16rem;
  justify-content: center;
}

.export {
  width: 100%;
  justify-content: center;
}

.dialog {
  background-color: #fdfbff;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100% !important;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  box-shadow: 1px 1px 8px 4px #676767;
  align-content: center;
}

form{
  width: 90%;
}

.two-inputs {
  display: flex;
  flex-direction: column;
}

br{
  display:none;
}


.nationality-form-field{
  width: 30% !important;
}

.genre-field{
  width: 100%;
}

}


@media (max-width: 950px) {
  .mat-table-wrapper {
    display: none;
  }

  .expansion-panel-wrapper {
    display: block;
  }
}

@media (min-width: 950px) {
  .mat-table-wrapper {
    display: block;
  }

  .expansion-panel-wrapper {
    display: none;
  }
}


