<div class="container-fluid">
      <div class="col-sm p-3 min-vh-100">
          <!--dashboard content -->
          <section>
            <div class="row">
              <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card" style="border-radius: 1rem;">
                  <div class="card-body" style="box-shadow: 1px 1px 5px 2px #6d6b6b85;border-radius: 1rem;background: linear-gradient(45deg, #fbfbfb, transparent);">
                    <div class="d-flex justify-content-between px-md-1">
                      <div class="align-self-center">
                        <mat-icon style='width: auto;font-size: 4rem;height: auto;color: #5635E9;'>face</mat-icon>
                      </div>
                      <div class="text-end" style="display: flex;flex-direction: column;align-items: flex-end;">
                        <h3>{{cardList.sumStudent}}</h3>
                        <p class="mb-0">Estudiantes</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card"  style="border-radius: 1rem;">
                  <div class="card-body" style="box-shadow: 1px 1px 5px 2px #6d6b6b85;border-radius: 1rem;background: linear-gradient(45deg, #fbfbfb, transparent);">
                    <div class="d-flex justify-content-between px-md-1">
                      <div class="align-self-center">
                        <mat-icon style='width: auto;font-size: 4rem;height: auto;color: #f5ca53;'>record_voice_over</mat-icon>
                      </div>
                      <div class="text-end" style="display: flex;flex-direction: column;align-items: flex-end;">
                        <h3>{{cardList.sumTeacher}}</h3>
                        <p class="mb-0">Profesores</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card"  style="border-radius: 1rem;">
                  <div class="card-body" style="box-shadow: 1px 1px 5px 2px #6d6b6b85;border-radius: 1rem;background: linear-gradient(45deg, #fbfbfb, transparent);">
                    <div class="d-flex justify-content-between px-md-1">
                      <div class="align-self-center">
                        <mat-icon style='width: auto;font-size: 4rem;height: auto;color: #48cea1;'>store</mat-icon>
                      </div>
                      <div class="text-end" style="display: flex;flex-direction: column;align-items: flex-end;">
                        <h3>{{cardList.sumSection}}</h3>
                        <p class="mb-0">Secciones</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card"  style="border-radius: 1rem;">
                  <div class="card-body" style="box-shadow: 1px 1px 5px 2px #6d6b6b85;border-radius: 1rem;background: linear-gradient(45deg, #fbfbfb, transparent);">
                    <div class="d-flex justify-content-between px-md-1">
                      <div class="align-self-center">
                        <mat-icon style='width: auto;font-size: 4rem;height: auto;color: #e95984;'> contacts</mat-icon>
                      </div>
                      <div class="text-end" style="display: flex;flex-direction: column;align-items: flex-end;">
                        <h3>{{cardList.sumParent}}</h3>
                        <p class="mb-0">Representantes</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </section>


            <section class="stadistic">
              <div class='stadistic-container-1'>
                <div>
                  <h1 style="text-align: center;text-decoration: underline;">Estudiantes Por Periodo</h1>
                  <dashboard-1></dashboard-1>
                </div>
              </div>

                <div class='stadistic-container-2'> 
                  <div>
                    <h1 style="text-align: center;text-decoration: underline;">Grado De Profesores</h1>
                    <dashboard-2></dashboard-2>

                  </div>
                </div>
            </section>

            
            <!--Best Student content
            <div class="d-flex flex-row-reverse">
              <div class="card bg-glass d-flex col-xl-4">
                <div class="card-body px-4 py-5 px-md-5">
                  <div class="text-center">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Best Student</p>
                  </div>
                  <div class="py-3 text-center"><img src="https://i.imgur.com/hczKIze.jpg" width="100" class="rounded-circle">
                    <h4 class="text-secondary">John Smith</h4>
                    <div class="allergy"><span>Allergy</span></div>
                    <div class="stats">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex flex-column"> <span class="text-left head">DOB</span> <span class="text-left bottom">03/13/2016</span> </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column"> <span class="text-left head">Age</span> <span class="text-left bottom">22Y 4m</span> </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex flex-column"> <span class="text-left head">Weight</span> <span class="text-left bottom">168 lb</span> </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column"> <span class="text-left head">Height</span> <span class="text-left bottom">5'9"</span> </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn btn-warning btn-lg ms-2">Show Details</button>
                </div>
              </div>
              
            </div>

          </div>
           -->
        </div>
      </div>


