@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/material-icons/iconfont/material-icons.css";


@font-face {
  font-family: 'sf-pro';
  src: url('./assets/fonts/SF-PRO-REGULAR.OTF');
  format: 'truetype';
}

@font-face {
  font-family: 'sf-rounded';
  src: url('./assets/fonts/SF-ROUNDED.ttf');
  format: 'truetype';
}


/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'sf-pro', sans-serif !important;
}


::ng-deep input[type=text]{
  border-radius: 7px;
  border: 1px solid #9fa4a9;
  padding: 0.5rem; 
}

label{
  font-family: 'sf-rounded';
  font-weight: bolder;
}

.mat-step-icon .mat-step-icon-state-number .mat-step-icon-selected{
  background-color: green !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*/////////////////////////////////////////////////////////////*/



:root{
  --color1: #F0EDFD;
  --color2: #E0DAFB;
  --color3: #D1C8F9;
  --color4: #C2B6F7;
  --color5: #b2a1ff;
  --color6: #B2A3F5;
  --color7: #A391F3;
  --color8: #937EF1;
  --color9: #846CEF;
  --color10: #755AED;
  --color11: #6547EB;
  --color12: #5635E9;
  --color7: #4723E7;
  --color8: #3C18DC;
  --color9: #3716CA;
  --color10: #3214B8;
  --color11: #2D12A5;
  --color12: #281093;
  --color13: #1E0C6E;
  --color14: #190A5C;
  --color15: #0F0637;
  --color16: #0A0425;
  --color17: #050212;
  
  --color18: #F5D547;
  --color23: #FAA00F;
  --color19: #DB3069;
  --color20: #02B6AA;
  --color21: #037971;
  --color22: #023436;
}
